<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>SoCraTes Crete</h2>
		<p>An Open Space Unconference<br /> about the craft <br /> of making software<br> <h3>29 Jun - 02 Jul</h3></p>
		<ul class="actions">
			<li><a href="#two" class="button special">See Packages</a></li>
			<!--<li><a href="https://forms.zohopublic.eu/socratescrete/form/SoCraTesShowusyourinterestform/formperma/5A4vRR2hoQP2eo0la_Sq7qhUaUgQJV26zoNmVCvdE-s" class="button special" target="_blank">Sign Up Now</a></li>-->
		</ul>
	</div>
	<a href="#three" class="more scrolly">Learn More</a>
</section>
