<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="{{ "/assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | relative_url }}">
	<link rel="manifest" href="{{ '/site.webmanifest' | relative_url}}">
	<meta name="msapplication-TileColor" content="#da532c">

	{% assign meta_image = "" | absolute_url | append: "/assets/images/banner.jpg"  %}
	{% if page.image != null %}
		{% assign meta_image = "" | absolute_url | append: "/assets/images/" | append: page.image %}
	{% endif %}
	{% if post.image | len >0  %}
		{% assign meta_image = "" | absolute_url | append: "/assets/images/" | append: post.image %}
	{% endif %}
	<meta name="title" content="{{ site.title }} - {{ page.title }}{{post.title}}">
	<meta name="description" content="{{ page.description }}{{ post.description }}">
	<meta name="image" content="{{ meta_image }}">
	<meta name="keywords" content="SoCraTes, Crete, Open Space, Unconference, Craft, Crafter, Software">

	<meta property="og:title" content="{{ site.title }} - {{ page.title }}{{post.title}}" />
	<meta property="og:description" content="{{ page.description }}{{ post.description }}" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{{ meta_image }}" />

	<meta name="twitter:title" content="{{ site.title }} - {{ page.title }}{{post.title}}">
	<meta name="twitter:description" content="{{ page.description }}{{ post.description }}">
	<meta name="twitter:image" content="{{ meta_image }}">

</head>
