<!-- Four -->
<section id="four" class="wrapper style1 special">
	<div>
		<header class="major">
			<h2>
				SoCraTes Crete 2023 Participants
			</h2>
			<p>
				You are able to open a <a href="https://gitlab.com/socrates-crete/site/-/tree/main#participants" target="_blank">Merge Request (MR)</a> with your name, profile picture and contact info <br />
				to be added here after you have verified you are coming to SoCraTes Crete!
			</p>
		</header>
		<ul class="icons major participants">
			<li class="add">
				<div class="image">
					<a href="https://gitlab.com/socrates-crete/site/-/tree/main" target="_blank" rel="noopener noreferrer" class="add">
						<span class="icon fa-user-plus major style2"></span>
					</a>
				</div>
				<div class="meta">
					You?<br />
				</div>
			</li>
	
			{% for participant in site.participants %}
				{% if participant.full_name == null %}
    				{% continue %}
				{% endif %}
				<li>
					<div class="image">
						{% if participant.image != null %}
							{% assign imagePrefix = participant.image | slice: 0,8 %}
							<div class="icon major style2">
								{% if imagePrefix contains "http://" or imagePrefix contains "https://" %}
									<img  src="{{ participant.image }}" alt=""/>
								{% else %}
									<img class="participant-picture" src="{{ '/assets/images/participants/2023/' | append: participant.image | absolute_url }}" alt=""/>
								{% endif %}
							</div>
						{% else %}
							<span class="icon fa-user major style2"></span>
						{% endif %}
					</div>
					<div class="meta">
						{{ participant.full_name }}<br>
						{% if participant.website != null %}
							<a href="{{ participant.website }}" class="fa fa-home" target="_blank"></a>
						{% endif %}
						{% if participant.linkedin != null %}
							<a href="{{ participant.linkedin }}" class="fa fa-linkedin" target="_blank"></a>
						{% endif %}
						{% if participant.twitter != null %}
							<a href="{{ participant.twitter }}" class="fa fa-twitter" target="_blank"></a>
						{% endif %}
						{% if participant.mastodon != null %}
							<a href="{{ participant.mastodon }}" class="fab fab-mastodon" target="_blank"></a>
						{% endif %}
						{% if participant.facebook != null %}
							<a href="{{ participant.facebook }}" class="fa fa-facebook-official" target="_blank"></a>
						{% endif %}
						{% if participant.github != null %}
							<a href="{{ participant.github }}" class="fa fa-github" target="_blank"></a>
						{% endif %}
						{% if participant.gitlab != null %}
							<a href="{{ participant.gitlab }}" class="fa fa-gitlab" target="_blank"></a>
						{% endif %}
					</div>
				</li>
			{% endfor %}
	 	</ul>
	</li>
  
	</div>
</section>

<style type="text/css">
	.participants li{
		vertical-align: top;
		margin-bottom: 40px;
		width: 300px;
	}
	.participants li.add{
		margin-top: -5px;
	}
	.participants li a{
		border-bottom: none;
	}
	.participants li.add .meta{
		margin-top: 5px;
	}
	.participants li .meta{
		font-size: 1.2em;
	}
	.participants .image{
		margin: 30px;
	}
	.participants .add .image{
		margin: 35px;
	}
	.participants .icon.major {
		font-size: 2.75em;
		display:inline-block;
		overflow:hidden;
	}
	.participants .icon.major img{

		transform: rotate(45deg);
		object-fit: cover;
		width: 150%;
		margin-left:-40px;
		margin-top:-40px;
	}
</style>
