<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>
				What makes good Software ? <br />
				And what makes a good Software product?
			</h2>
			<p>
				If you care about exploring these 2 main themes, then SoCraTes Crete offers the ideal setting ! <br>
				<br>
				Join us, for an Open Space event where we gather and exchange ideas, knowledge and experience, in an inspiring venue that allows us to explore Crete at its finest!<br>
				<br>
			</p>
		</header>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>
