<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>About </h2>
			<p>In 2023, a new SoCraTes Crete event is being born to bring us even closer </p>
		</header>
		<ul class="features">
			<li class="icon fa-laptop">
				<h3>Why</h3>
				<p>
					Our specific goal for <strong>SoCraTes Crete</strong> is to not only explore the software craft techniques, but to also help bridge
					the gap between product/business folks and devs.<br>
					<br>
				</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Who</h3>
				<p>
					Anyone who cares about making well-crafted software, e.g. <br>
					* Software Developers<br>
					* Testers<br>
					* Technical Writers<br>
					* Product folks<br>
					* $your_role <br>
				</p>
			</li>
			<li class="icon fa-users">
				<h3>Family-Friendly</h3>
				<p>
					One of the reasons the event is held in the summer is so that you can bring your significant other or family with you. <br> We are committed to providing
					a 100% family-friendly experience: your loved ones are invited to all excursions / dinners, and you can expect that kids-friendly activities
					will be self-organized in the mornings by other parents (whether on-site or some small excursions). ...and - amazingly - language is never a problem
					for younger kids!!
					<br>
				</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Unconferences on Crete</h3>
				<p>
					SoCraTes Crete is the latest open space unconference to emerge on Crete.
					It originally started as part of AgileCrete.org, which was, itself,
					inspired by / forked from <a href="https://jcrete.org">JCrete</a>.<br>
					<br>
					JCrete is very similar to SoCraTes Crete, but is focused primarily on the
					Java ecosystem. Open space fans can easily combine the two sister events!
					JCrete runs immediately after SoCraTes Crete! (You know, just in case you
					want to spend a few extra days on Crete ;) ).
				</p>
			</li>
			<li class="icon fa-paper-plane-o">
				<h3>Schedule</h3>
				<p>
					<strong>08:30 – 13:00</strong> Morning sessions.<br>
					<strong>13:00 – 14:00</strong> Lunch.<br>
					<strong>14:00 – 20:00</strong> Excursions, swimming, focus time, exploring Crete!<br>
					<strong>20:00</strong> CRETAN dinners (!!)<br>
				</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Partner Events</h3>
				<p>
				<div id="other_socrates">
					* <a href="https://codefreeze.fi/">Code Freeze</a><br>
					* <a href="https://socrates-ch.org/">SoCraTes Switzerland</a><br>
					* <a href="https://socrates-ca.github.io/">SoCraTes Canada</a><br>
					* <a href="https://www.socrates-conference.it/">SoCraTes Italy</a><br>
					* <a href="http://socratesbe.org/">SoCraTes Belgium</a><br>
					* <a href="http://socratesuk.org/">SoCraTes UK</a><br>
					* <a href="https://www.socrates-conference.de/home">SoCraTes Germany</a><br>
					* <a href="https://socrates-fr.github.io/">SoCraTes France</a><br>
					* <a href="https://www.socracan.com/">SoCraTes Canaries</a><br>
					* <a href="https://socrates-conference.at">SoCraTes Day Linz</a><br>
					* <a href="https://www.socrates-conference.cl">SoCraTes Chile</a><br>
					* <a href="https://itakeunconf.com/">I T.A.K.E</a><br>
				</div>
				</p>
			</li>
		</ul>
	</div>
</section>
